<h1>Editing Recipe Type</h1>

<%= render 'form', recipe_type: @recipe_type %>

<br>
<%= link_to 'Show', @recipe_type, class: 'btn btn-secondary' %> &nbsp;
<%= link_to 'Back', recipe_types_path, class: 'btn btn-primary' %>
